/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FAF9F6; 
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #F5F5F5; 
    color: #FFCAD4; 
    padding: 10px;
}

header h1 {
    margin: 0;
    color: #FFCAD4; 
}

/* Navigation styles */
nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

/* Main content styles */
main {
    padding: 20px;
}

section, aside {
    margin-bottom: 20px;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
}

.photo-container img {
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: calc(25% - 10px); 
    height: auto;
}

/* Footer styles */
footer {
    background-color: #F5F5F5; 
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* CSS for the headshot */
.headshot-image-container {
    text-align: left; 
    margin-bottom: 20px; 
}

.headshot-image {
    max-width: 50%; 
    display: block; 
    margin: 0 auto; 
    margin-bottom: 10px; 
}

.photo-credits {
    font-size: 12px; 
    text-align: left; 
}

/* CSS for the photo table */
.photo-table {
    max-width: 70%; 
    margin: 0 auto; 
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* photo table */
.photo-table img {
    max-width: 100%; 
    height: auto;
    display: block;
}

/* "Recent Moments" heading */
section h2 {
    text-align: center;
}

.photo-table th, .photo-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.photo-table th {
    background-color: #f2f2f2;
}

.photo-table img {
    width: 12%; 
    height: auto;
    display: block;
}